@model IEnumerable<CodeFirstTemplate.Web.Models.UserViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">

        <h2>Last Contests</h2>

        @foreach (var item in Model)
        {
            @Html.Partial("_UserPartial", item)
        }
</div>